@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

h2 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 120%;

    /* identical to box height, or 70px */
    letter-spacing: 0.02em;

    /* HEADER COLOR */
    color: #000000;
}

a,
a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #405291;
}

h3 {
    /* H3 / 46 / DESKTOP */
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 130%;
    /* or 60px */
    letter-spacing: 0.02em;
    /* HEADER COLOR */
    color: #000000;

}

/* Body Text / 16 - BOLD / DEKSTOP - TABLET - MOBILE */
.fontBodyText {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    /* identical to box height, or 24px */
    letter-spacing: 0.02em;

    /* SUBTITLE COLOR */
    color: #405291;
    margin-top:8px;
    margin-bottom:8px;
}

.fontBodyRegular {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.02em;

    /* HEADER COLOR */
    color: #000000;
}

.fontButtonLink {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.fontBodyXXL {
    /* XXL Text / 29 / DESKTOP */
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 120%;

    /* or 35px */
    letter-spacing: 0.02em;

    /* HEADER COLOR */
    color: #000000;
    margin-bottom:8px;
    margin-top:8px;
}

.fontBodyMedium {
    /* Medium Text / 18 / DEKSTOP - TABLET - MOBILE */
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;

    /* identical to box height, or 22px */
    letter-spacing: 0.02em;

    /* SUBTITLE COLOR */
    color: #405291;
    margin-bottom:8px;
}

.arrow {
    background: url("/images/Link/Arrow.png");
}

.item-img img {
    width: auto;
    height: auto;
    flex-shrink: 0;
    max-width: 100%;
    min-height: 100%
}

.item-img {
    padding-right: 0px;
}

.item {
    padding-left:32px;
    padding-right:0px;
    display:flex;
    align-items:center;
}


.item-inside{
    margin:0px 32px 0px 32px;
}

.header-h3{
    margin-top:8px;
}

.header-script {
    padding-top: 24px;
}

.header-info {
    display:flex;
    flex-direction: row;
    margin-top: 48px;
}



.header-info-href {
    padding: 12px 24px;
}

section {
    padding:100px 64px 100px 64px;
}


.my-slider{
    margin: 92px 0px 100px 0px;
}

.slider-container{
    position:relative;
}

.controls{
    position:absolute;
    width:-webkit-calc(100% + 128px);
    width:-moz-calc(100% + 128px);
    width:calc(100% + 128px);
    margin-left:-64px;
    height:100%;
    display: block!important;

}

.carousel-c-next,
.carousel-c-prev {
    top:25%;
    bottom:25%;
    background-image: none;
    position: absolute;
    z-index: 1;
    min-height:50%;
    width:64px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}


.carousel-c-next{
    right:0;
}
.carousel-c-prev {
    left:0;
}
.carousel-c-prev img, .carousel-c-next img{
    border:none;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: none;
}

.carousel-category{
    padding-top:40px;
}

.white-b {
    /* DARK */
    border: 1px solid #000000;
    border-radius: 0;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;

}

.white-b:hover {
    border: 1px solid #405291;
    color: #405291;
}


.buttons {
    width:90%;
    display: flex;
    flex-direction: row;
    align-self:flex-end;
    justify-content: space-between;
    margin-top:40px;
    margin-bottom:0px;
    order:2;
}
.buttons .btn-font{
    padding: 12px 24px;
    min-width:178px;
}

.buttons .btn-icon{
    padding:14px;
}

.buttons .btn-icon img{
    width:20px;
    height:20px;
}


@media (max-width: 992px) {
        .buttons{
            width:75%;
        }
        .buttons .btn-font{
            padding:10px;
        }

        .buttons .btn-icon{
            padding:10px 14px 10px 14px;
        }

        .main-container > .row > .item-img{
            padding-bottom:48px;
        }
        .main-container > .row > .item-img a{
            min-width:100%;
            min-height:100%;
        }
        .main-container > .row > .item{
            padding-left:15px;
        }
        .main-container > .row > .item > .item-inside{
            margin:0px 32px 0px 0px!important;
        }
        #tns1> .tns-item{
            padding-left:32px;
            padding-right:0px;
        }
}

@media (max-width: 768px) {
    #tns1> .tns-item{
        padding-left:100px;
        padding-right:100px;
    }
    #tns1> .tns-item a{
        width:100%;
        height:100%;
    }
    .buttons{
        width:50%;
    }
    #tns1> .tns-item{
        padding-left:100px;
        padding-right:100px;
    }
    .tns-item .buttons .btn-icon{
        margin-left:15px;
    }
    .tns-item .img-fluid{
        min-width:100%;
    }

}

@media (max-width: 768px) {

    #tns1> .tns-item{
        padding-left:30px;
        padding-right:50px;
    }


}



@media(min-width:1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width:1240px;
    }
}


.container{
    padding:0px;
}